{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% set myPageVar = data['my-url-var'] %}
My new test page

<p>URL param as session data:{{ data['my-url-var'] }}</p>
<p>URL param as var set on page:{{ myPageVar }}</p>
<p>URL param through routes:{{ data['my-var'] }}</p>

{% endblock %}

