{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ serviceName }}</h1>

      <h2 class="govuk-heading-m">Prepare application</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Security approval you are applying for"
            },
            href: "application-type",
            status: completedStatus
          },
          {
            title: {
              text: "Contact details"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Tell us about the products</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Product list"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Cryptography details"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Funding"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "Security classification"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Proposed release details"
            },
            href: "#",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Provide us with the end-use details</h2>

      {{ govukTaskList({
        idPrefix: "third-section",
        items: [
          {
            title: {
              text: "Intended end use and destination details"
            },
            href: "#",
            status: completedStatus
          },
          {
            title: {
              text: "End user summary"
            },
            href: "#",
            status: incompleteStatus
          },
          {
            title: {
              text: "Supporting documents"
            },
            href: "#",
            status: completedStatus
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "application-type" }) }}
      </div>

    </div>
  </div>
{% endblock %}
