{% extends "layouts/main.html" %}

{# {% set bodyClasses = 'dmas-align-override dmas-width' %} #}
{% set userType = 'generaluser' %}
{% set barrierInformation = data.sampleBarrierData %}

{#
{% if publicViewState is not null %}
{% set publicViewState = 'notset' %}
{% endif %} #}

{% block pageTitle %}
  Barrier information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- MASTHEAD SECTION -->
    {% include "/includes/dmasheader.njk" %}
    <div class="datahub-header__navigation-container">
      {% include "/includes/datahubnavbar.njk" %}
      {% include "/includes/dmasnavbar-withrole.njk" %}
    </div>
    {% include "/includes/masthead.njk" %}
{% endblock %}



{% block content %}
<div id="top">
  
</div>

<!-- TAGS SECTION -->

<!-- CONFIRMATION BANNER SECTION -->

{% include "/includes/publishing/pv-confirmation-banners.njk" %}

<!-- TABS SECTION -->

{% set pvPublishAllowedStatus = data['barrier-public-view-status'] %}
{% set pvTitle = data['public-title'] %}
{% set pvSummary = data['public-summary'] %}
{% set pvApprovalStatus = data['approval-status'] %}
{% set pvPublishStatus = data['publish-status'] %}


    <div class="govuk-tabs govuk-!-padding-top-8" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#barrier-info-tab">
              Barrier information
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#barrier-team-tab">
              Barrier team
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#barrier-assessment-tab">
              Assessment
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#barrier-history-tab">
              History
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#public-view-tab">
              Public view
            </a>
          </li>
        </ul>

      <!-- BARRIER INFORMATION TAB -->
      <div class="govuk-tabs__panel" id="barrier-info-tab">
        <!-- <h2 class="govuk-heading-l">Barrier headlines</h2> -->
        <div class="govuk-grid-row">
          <!-- LEFT HAND COLUMN -->
          <div class="govuk-grid-column-one-half">
              {% include "/includes/barrier-information-core-data.njk" %}
          </div>
          <!-- RIGHT HAND COLUMN -->
          <div class="govuk-grid-column-one-half">
            {{ appBarrierStatus({
              barrierState: 'open'
              })
            }}
          </div>
        </div>
      </div>

        <!-- BARRIER TEAM TAB -->
        <div class="govuk-tabs__panel" id="barrier-team-tab">
          <h2 class="govuk-heading-l">Barrier team</h2>
          <div class="govuk-grid-row">
            <!-- LEFT HAND COLUMN -->
            <div class="govuk-grid-column-one-half">                
            </div>
            <!-- RIGHT HAND COLUMN -->
            <div class="govuk-grid-column-one-half">
            </div>
          </div>
        </div>

        <!-- BARRIER TEAM TAB -->
        <div class="govuk-tabs__panel" id="barrier-assessment-tab">
          <h2 class="govuk-heading-l">Barrier assessment</h2>
          <div class="govuk-grid-row">
            <!-- LEFT HAND COLUMN -->
            <div class="govuk-grid-column-one-half">                
            </div>
            <!-- RIGHT HAND COLUMN -->
            <div class="govuk-grid-column-one-half">
            </div>
          </div>
        </div>

        <!-- BARRIER HISTORY TAB -->
        <div class="govuk-tabs__panel" id="barrier-history-tab">
          <h2 class="govuk-heading-l">Barrier history</h2>
          <div class="govuk-grid-row">
            <!-- LEFT HAND COLUMN -->
            <div class="govuk-grid-column-one-half">                
            </div>
            <!-- RIGHT HAND COLUMN -->
            <div class="govuk-grid-column-one-half">
            </div>
          </div>
        </div>

      <!-- PUBLIC VIEW TAB -->
      <div class="govuk-tabs__panel" id="public-view-tab">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <!-- <h2 class="govuk-heading-l">Public view</h2> -->

            <div class="govuk-grid-row">
              <!-- LEFT HAND COLUMN -->
              <div class="govuk-grid-column-one-half">
                {% include "/includes/publishing/pv-actions-set-public-view-status.njk" %}
                {% include "/includes/publishing/pv-actions-set-public-title_desc.njk" %}
                {% include "/includes/publishing/pv-actions-set-approvals.njk" %}
                {% include "/includes/publishing/pv-actions-set-publish.njk" %}
                {% include "/includes/publishing/pv-additional-information.njk" %}
              </div>

              <!-- RIGHT HAND COLUMN -->
              <div class="govuk-grid-column-one-half">
                {% include "/includes/publishing/pv-status-card.njk" %}
                {% include "/includes/publishing/pv-notes-section.njk" %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    Publishing allowed status: {{ data['barrier-public-view-status'] }} |
    Publishing not allowed reason: {{ data['barrier-not-allowed-desc'] }} |
    Public title: {{ data['public-title'] }} |
    Public summary: {{ data['public-summary'] }} |
    Public approval status: {{ data['approval-status'] }} |
    Public published status: {{ data['publish-status'] }} |
    Public view state: {{ publicViewState }}  |
    Conf banner state: {{ data['conf-banner-state'] }}

{% endblock %}