{% extends "layouts/main.html" %}

{% set bodyClasses = 'dmas-width' %}
{% set userType = 'generaluser' %}
{% set barrierInformation = data.sampleBarrierData %}

{% block pageTitle %}
  Barrier information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>govuk-grid-column-one-half</p>
  </div>
  <div class="govuk-grid-column-one-half">
    <p>govuk-grid-column-one-half</p>
  </div>
</div>



{% endblock %}