{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- MASTHEAD SECTION -->
    {% include "/includes/dmasheader.njk" %}
    <div class="datahub-header__navigation-container">
      {% include "/includes/datahubnavbar.njk" %}
      {% include "/includes/dmasnavbar-withrole.njk" %}
    </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Barrier created",
        html: "The barrier ID is<br><strong>B-23-T65</strong>"
      }) }}

      <!-- DISPLAY BASED ON STEP REACHED IN MVE JOURNEY -->
      <!-- DISPLAYED IF ALLOWED AND TITLE AND SUMMARY -->
      {% if data['barrier-public-view-status'] == 'Can be published' and data['public-title'] and data['public-summary'] %}
        <p class="govuk-body">Within the next 30 days, the approver in your region needs to confirm they are happy for the barrier to be published.</p>
      
      <!-- DISPLAYED IF SET TO NOT ALLOWED TO BE PUBLISHED -->
      {% elseif data['barrier-public-view-status'] == 'Cannot be published' %}
        <p class="govuk-body">You stated that the barrier cannot be published on GOV.UK. This decision will be reviewed by your regional coordinator.</p>
        <p>We could skip this page and display new style confirm on <a href="barrier-information-public">barrier info page</a></p>
        {% else %}
      <!-- DISPLAYED IF NO TITLE AND SUMMARY -->
        <p class="govuk-body">Within the next 30 days:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>you need to provide a public title and summary on the <a href="barrier-information-public">Public view page</a></li>
          <li>the approver in your region needs to confirm they are happy for the barrier to be published</li>
        </ul>
      
      {% endif %}


</p>


    </div>
  </div>

{% endblock %}