{% extends "layouts/main.html" %}

{% block pageTitle %}
  Public title – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set pvPublishStatus = data['publish-status'] %}
<!-- read in default approvers -->
{% set defaultapproversList = data.defaultApprovers %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% if pvPublishStatus == 'published' %}
        <h1 class="govuk-heading-l">
            Confirm you want to publish this barrier on GOV.UK
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-6">By choosing to publish this barrier, you confirm that you want it to be made public on <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check international trade barriers (opens in new tab)</a>.</p>
        <form class="form" action="barrier-information-public?publish-status=published" method="post">
            <input type="hidden" id="conf-banner-state" name="conf-banner-state" value="published set">
            {{ govukButton({
            text: "Confirm"
            }) }}
            <a href="barrier-information-public?publish-status=&conf-banner-state=" class="govuk-link form-cancel">Cancel</a>
            </form>
    {% else %}
        <h1 class="govuk-heading-l">
            Confirm you want to remove this barrier on GOV.UK
        </h1>
        <p class="govuk-body">By choosing to remove this barrier, you confirm that you no longer want it to be made public on <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check international trade barriers (opens in new tab)</a>.</p>
        <form class="form" action="barrier-information-public?publish-status=unpublished" method="post">
        <input type="hidden" id="conf-banner-state" name="conf-banner-state" value="unpublished set">  
        {{ govukCharacterCount({
            name: "unpublish-reason",
            id: "unpublish-reason",
            maxlength: 500,
            rows: 4,
            label: {
            text: "Reason for removing the barrier",
            classes: "govuk-label--s",
            isPageHeading: true
            },
            hint: {
            text: "Please explain why you think this barrier should be removed from the GOV.UK page."
            }
        }) }}

        {{ govukButton({
        text: "Confirm"
        }) }}
        <a href="#" class="govuk-link form-cancel">Cancel</a>
    </form>
    {% endif %}
    </div>
</div>

{% endblock %}