{% extends "layouts/main.html" %}

{% block pageTitle %}
  Public title – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

<!-- read in default approvers -->
{% set defaultapproversList = data.defaultApprovers %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
        Confirm this barrier has been approved
    </h1>
    <p class="govuk-body">By approving this barrier you confirm it should be published on GOV.UK, once they have completed their content checks.</p>
    <p class="govuk-body">You also confirm that you have reviewed it with the following people or organisations:</p>

    <!-- Approvers list from session defaults -->
    <ul class="govuk-lis govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-7">
        {% for item in defaultapproversList %}  
            <li class="govuk-body">{{ item }} </li>
        {% endfor %}
    </ul>

    <form class="form" action="barrier-information-public" method="post">
        <input type="hidden" id="conf-banner-state" name="conf-banner-state" value="approval set">
        {{ govukCheckboxes({
            name: "approval-status",
            fieldset: {        
            },
            items: [
            {
                value: "approved",
                text: "I confirm that this barrier can be approved for publication  and it has been reviewed with all parties listed on this page."
            }
            ]
        }) }}

        {{ govukCharacterCount({
            name: "approval-extra-detail",
            id: "barrier-description",
            maxlength: 500,
            rows: 4,
            label: {
            text: "Is there anything else you want to add about how you've reached your decision for approval? (optional)",
            classes: "govuk-label--s",
            isPageHeading: true
            }
        }) }}

        {{ govukButton({
        text: "Approve barrier"
        }) }}
        <a href="#" class="govuk-link form-cancel">Cancel</a>
    </form>
    </div>
</div>

{% endblock %}