{% extends "layouts/main.html" %}

{% block pageTitle %}
  Page name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<h2>Publish states</h2>


<p class="govuk-body">Use these links to simulate the various states the public view tab will a</p>
<ul class="govuk-list">
    <li>
      <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=&public-title=&public-summary=&publicViewState=&conf-banner-state=">Existing barrier - no publishing started</a>
    </li>
    <li>
        <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Cannot be published&public-title=&public-summary=&publicViewState=&conf-banner-state=mve cannot be published">MVE journey barrier created - Publishing not allowed </a>
    </li>
    <li>
      <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title&public-summary&publicViewState=title or summary not added&conf-banner-state=mve-can-be-published-no-title-and-summary">MVE journey barrier created - Publishing allowed, no title or summary</a>
    </li>
    <li>
      <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=Electronics to Iceland&public-summary=Exporting electronics to Iceland are frozen at present.&approval-status=&publicViewState=awaiting approval&conf-banner-state=mve can be published and title and summary">MVE journey barrier created - Publishing allowed, title and summary added</a>
    </li>
    <li>
      <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=&public-summary=&publicViewState=Can be published&conf-banner-state=can be published set">Publishing allowed</a>
    </li>
    <li>
      <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Cannot be published&public-title&public-summary&publicViewState=Cannot be published&conf-banner-state=can be published set">Publishing not allowed</a>
    </li>
    <li>
        (Not yet designed) <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Cannot be published">Publishing not allowed but title and description added at some point</a>
      </li>
    <li>
      <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title&public-summary&publicViewState=title or summary not added&conf-banner-state=can be published set">Publishing allowed, no title or summary</a>
    </li>
    <li>
        <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=Electronics to Iceland&public-summary&publicViewState=title or summary not added&conf-banner-state=public title set">Publishing allowed, title added, no summary</a>
    </li>
    <li>
        <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=Electronics to Iceland&public-summary=Exporting electronics to Iceland are frozen at present.&approval-status=&publicViewState=awaiting approval&conf-banner-state=public summary set">Publishing allowed, title added, summary added, not yet approved</a>
    </li>
    <li>
        <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=Electronics to Iceland&public-summary=Exporting electronics to Iceland are frozen at present.&approval-status=approved&publish-status=&publicViewState=approved&conf-banner-state=approval set">Publishing allowed, title added, summary added, approved, not published</a>
    </li>
    <li>
        (Not yet designed) <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=Electronics to Iceland&public-summary=Exporting electronics to Iceland are frozen at present.&approval-status=approved&publish-status=&publicViewState=rejected&conf-banner-state=rejected set">Publishing allowed, title added, summary added, approved, rejected</a>
    </li>
    <li>
        <a class="govuk-link" href="/current/publishing-v3/mve-bolt-on/option-4/barrier-information-public?barrier-public-view-status=Can be published&public-title=Electronics to Iceland&public-summary=Exporting electronics to Iceland are frozen at present.&approval-status=approved&publish-status=published&publicViewState=published&conf-banner-state=published set">Publishing allowed, title added, summary added, approved, published</a>
    </li>
  </ul>


{% endblock %}