{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sectors affected – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- MASTHEAD SECTION -->
    {% include "/includes/dmasheader.njk" %}
    <div class="datahub-header__navigation-container">
      {% include "/includes/datahubnavbar.njk" %}
      {% include "/includes/dmasnavbar-withrole.njk" %}
    </div>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">Section 5 of 11</span>
      <h1 class="govuk-heading-l">
        Sectors affected
      </h1>

      <form class="form" action="section-6" method="post">

        <div class="selection-list restrict-width govuk-!-margin-bottom-4">
          <h3 class="selection-list__heading">Main sector affected</h3>
          <p class="govuk-hint">Add the sector affected the most by the barrier</p>
          {{ govukSelect({
            id: "main-sector",
            name: "main-sector",
            classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-0",
            items: [
              {
                value: "Aerospace",
                text: "Aerospace"
              }
            ]
          }) }}
        </div>

        <div class="selection-list restrict-width govuk-!-margin-bottom-5">
          <h3 class="selection-list__heading">Other sectors (optional)</h3>
          <p class="govuk-hint">Add all the other sectors affected by the barrier</p>
          {{ govukButton({
            text: "Add sector",
            classes: "govuk-button--secondary govuk-!-margin-bottom-2",
            href: "#"
          }) }}
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

        {{ govukButton({
          text: "Save and exit",
          classes: "govuk-button--secondary",
          href: "#"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
