{% set pvPublishAllowedStatus = data['barrier-public-view-status'] %}
{% set pvTitle = data['public-title'] %}
{% set pvSummary = data['public-summary'] %}
{% set pvApprovalStatus = data['approval-status'] %}
{% set pvPublishStatus = data['publish-status'] %}
{% if data['user-role-type'] %} {% set userType = data['user-role-type'] %} {% else %} {% set userType = 'gu' %} {% endif %}


{#
{% set pvStatus = 'allowed' %}
{% set pvTitleStatus = 'entered' %}
{% set pvSummaryStatus = 'entered' %}
{% set pvApprovalStatus = 'approved' %}
{% set pvPublishStatus = 'not published' %} #}

<!-- NEED TO COME BACK AND SET AN OVERALL PUBLIC VIEW STATUS VAR -->

{% if userType == 'gu' %}  <!-- Will be easier to handle usertypes within each action card but for now just check overall and display accordingly -->

    <!-- NOTHING SET YET -->
    {% if not pvPublishAllowedStatus %}
        <!-- show first time box style -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will publish the barrier if all the information is complete and it has been approved.</p>
        </div>

    <!-- CANNOT BE PUBLISHED -->
    {% elseif pvPublishAllowedStatus == "Cannot be published" %}

    <!-- CAN BE PUBLISHED, NEEDS TITLE AND SUMMARY -->  
    {% elseif pvPublishAllowedStatus == 'Can be published' and not pvTitle or not pvSummary %}
        <!-- show first time box style -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will publish the barrier if all the information is complete and it has been approved.</p>
        </div>

    <!-- CAN BE PUBLISHED, HAS TITLE AND SUMMARY, NEEDS TO BE APPROVED -->  
    {% elseif pvPublishAllowedStatus == 'Can be published' and  pvTitle and pvSummary and not pvApprovalStatus %}
        <!-- show first time box style -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will carry out final content checks and publish the barrier if all the information is complete and it has been approved.</p>
        </div>

    <!-- CAN BE PUBLISHED, HAS TITLE AND SUMMARY, IS APPROVED AND NEEDS TO BE PUBLISHED -->
    {% elseif pvPublishAllowedStatus == 'Can be published' and pvTitle and pvSummary and pvApprovalStatus == 'approved' and not pvPublishStatus %}
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team are reviewing the content for this approved barrier.</p>
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">They will update the status to 'published' once it is live. You will then be able to view the barrier by visiting <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check international trade barriers (opens in new tab).</a></p>
        </div>

    <!-- CAN BE PUBLISHED, HAS TITLE AND SUMMARY, IS APPROVED AND IS PUBLISHED -->    
    {% elseif pvPublishAllowedStatus == "Can be published" and pvTitle and pvSummary and pvApprovalStatus == 'approved' and pvPublishStatus == 'published' %}
        <div class="information-box">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">This barrier has been published on GOV.UK. To view this barrier visit <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check international trade barriers (opens in new tab).</a></p>
        </div>
    {% endif %}

{% endif %}

{% if userType == 'ap' %}
    <!-- NOTHING SET YET -->
    {% if not pvPublishAllowedStatus %}
        <!-- show first time box style -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will publish the barrier if all the information is complete and it has been approved.</p>
        </div>

    <!-- CANNOT BE PUBLISHED -->
    {% elseif pvPublishAllowedStatus == "Cannot be published" %}

    <!-- CAN BE PUBLISHED, NEEDS TITLE AND SUMMARY -->  
    {% elseif pvPublishAllowedStatus == 'Can be published' and not pvTitle or not pvSummary %}
        <!-- show first time box style -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will publish the barrier if all the information is complete and it has been approved.</p>
        </div>

    <!-- CAN BE PUBLISHED, HAS TITLE AND SUMMARY, NEEDS TO BE APPROVED -->  
    {% elseif pvPublishAllowedStatus == 'Can be published' and  pvTitle and pvSummary and not pvApprovalStatus %}
        <!-- show first time box style -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team will carry out final content checks and publish the barrier if all the information is complete and it has been approved.</p>
        </div>

    <!-- CAN BE PUBLISHED, HAS TITLE AND SUMMARY, IS APPROVED AND NEEDS TO BE PUBLISHED -->
    {% elseif pvPublishAllowedStatus == 'Can be published' and pvTitle and pvSummary and pvApprovalStatus == 'approved' and not pvPublishStatus %}
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">The GOV.UK team are reviewing the content for this approved barrier.</p>
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">They will update the status to 'published' once it is live. You will then be able to view the barrier by visiting <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check international trade barriers (opens in new tab).</a></p>
        </div>

    <!-- CAN BE PUBLISHED, HAS TITLE AND SUMMARY, IS APPROVED AND IS PUBLISHED -->    
    {% elseif pvPublishAllowedStatus == "Can be published" and pvTitle and pvSummary and pvApprovalStatus == 'approved' and pvPublishStatus == 'published' %}
        <div class="information-box">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
            </div>     
            <p class="govuk-body govuk-hint govuk-!-margin-bottom-2">This barrier has been published on GOV.UK. To view this barrier visit <a class="govuk-link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check international trade barriers (opens in new tab).</a></p>
        </div>
    {% endif %}
{% endif %}

{% if userType == 'cd' %}
    <!-- Publisher only sees a single box up until barrier is approved and passed to them - logic on pv-actions-set-publish include -->
    {% if not pvApprovalStatus %}
        <!-- Check if first time and show dashed box if so -->
        <div class="information-box information-box__notset">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">This barrier is not ready for a content review</h3>
                <p class="govuk-body">The approver will update the status when you need to check the content.</p>
            </div>
        </div>
    {% elseif pvApprovalStatus == "approved" %}
        <div class="information-box">
            <div class="govuk-summary-list__row">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3">Publishing</h3>
                <p class="govuk-body">When you have completed your content checks you can publish this barrier.</p>
            </div> 
        {% if not pvPublishStatus %}
        <form class="form" action="edit-publishing-confirm?publish-status=published" method="post">
            {{ govukButton({
                text: "Publish",
                classes: "govuk-!-margin-bottom-1"
            }) }}
            {#}
            {{ govukButton({
                text: "Mark as rejected",
                classes: "govuk-button--secondary govuk-!-margin-bottom-1"                
            }) }} #}
        </form>
        {% else %}
        <form class="form" action="edit-publishing-confirm?publish-status=unpublished" method="post">
            {{ govukButton({
                text: "Unpublish",
                classes: "govuk-button--secondary govuk-!-margin-bottom-1"                
            }) }}
        </form>
        {% endif %}
        </div>
    {% endif %}
{% endif %}

<!-- GU RULES
If allowed set and not allowed then hide
If allowed not set then cannot approve / if allowed is set but no title or summary then cannot approve
if allowed set and title and summary and not approved = assume with approver or beyond (will need a state for published and edited)
if allowed set and title and summary and approved = assume with content team
if allowed set and title and summary and approved and published = published
-->