<div class="information-box govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">
        {% set otherBarrierDetails %}
        <dl class="summary-group__list">
        

        <dt class="summary-group__list__key">Public ID</dt>
        <dd class="summary-group__list__value">      
                A public ID will appear once published.      
        </dd>

        <dt class="summary-group__list__key">Resolved</dt>
        <dd class="summary-group__list__value">      
                No      
        </dd>

        <dt class="summary-group__list__key">Date reported</dt>
        <dd class="summary-group__list__value">
                20 January 2023
        </dd>

        <dt class="summary-group__list__key">Location</dt>
        <dd class="summary-group__list__value">      
                Iceland      
        </dd>

        <dt class="summary-group__list__key">Sector</dt>
        <dd class="summary-group__list__value">          
                Not selected, <a href="barrier-information#barrier-info-tab">add on main barrier tab</a>.
        </dd>

        <dt class="summary-group__list__key">Category</dt>
        <dd class="summary-group__list__value">          
                Not selected, <a href="barrier-information#barrier-info-tab">add on main barrier tab</a>.
        </dd>
        </dl>
        {% endset %}

        {{ govukDetails({
        summaryText: "Other barrier details",
        open: true,
        html: otherBarrierDetails
        }) }}
</div>

{% from "govuk/components/details/macro.njk" import govukDetails %}