{% set pvPublishAllowedStatus = data['barrier-public-view-status'] %}
{# {% set pvPublishAllowedStatus = 'not allowed' %} #}


<!-- Check if first time and show dashed box if so -->
<div class="information-box {% if not pvPublishAllowedStatus %}information-box__notset">{% else %}">{% endif %}
        <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Public view status</h2>
        </div>     
        
        <!-- IF ALLOWED -->   
        {% if pvPublishAllowedStatus == "Can be published" %}
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Can be published</p>
            <a href="edit-publishing-status" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit</a>

        <!-- IF NOT ALLOWED -->
        {% elseif pvPublishAllowedStatus == "Cannot be published" %}
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Cannot be published</p>
            <p class="govuk-body govuk-!-margin-bottom-2"><span>Reason:</span> {{ data['barrier-not-allowed-desc'] }}</p>
            <a href="edit-publishing-status" class="govuk-link--no-visited-state govuk-!-font-size-19">Edit</a>

        <!-- IF NOTHING SET YET-->
        {% else %}
           <a href="edit-publishing-status" class="govuk-link--no-visited-state govuk-!-font-size-19">Set public view status</a>
        {% endif %}
</div>