{% set confBannerState = data['conf-banner-state'] %}
{% set pvPublishAllowedStatus = data['barrier-public-view-status'] %}
{# Confirmation banner state var: {{ confBannerState }} |
Confirmation banner state session data: {{ data['conf-banner-state'] }} #}

<div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
    <div class="govuk-grid-column-full">

    <!-- IF NO BANNER REQUIRED -->
    {% if not confBannerState %}
    {% endif %}

    <!-- BARRIER PUBLIC STATUS ADDED/UPDATED -->
    {% if confBannerState == 'can be published set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Publish status set
        </h3>
        {% if pvPublishAllowedStatus == 'Can be published' %}
            <p class="govuk-body">You successfully set the public view status to: <span class="govuk-!-font-weight-bold">it can be published once it is approved</span>.</p>
            <p class="govuk-body">This decision will now be reviewed by the approver and updated on the <a class="govuk-notification-banner__link" href="barrier-information-public?conf-banner-state=">public view tab.</a></p>
        {% else %}
            <p class="govuk-body">You successfully set the public view status to <span class="govuk-!-font-weight-bold">cannot be published</span>.</p>
        {% endif %}
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- BARRIER PUBLIC TITLE ADDED/UPDATED -->
    {% if confBannerState == 'public title set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Public title set
        </h3>
            <p class="govuk-body">You successfully set the public title.</p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- BARRIER PUBLIC SUMMARY ADDED/UPDATED -->
    {% if confBannerState == 'public summary set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Public summary set
        </h3>
            <p class="govuk-body">You successfully set the public summary.</p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- BARRIER PUBLIC APPROVAL STATUS UPDATED -->
    {% if confBannerState == 'approval set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            This barrier has been approved and it is now with the GOV.UK team
        </h3>
            <p class="govuk-body">They need to complete their content checks within the next 30 days. They can then publish the barrier.</p>
            <p class="govuk-body">This will be updated in the barrier publication status on the <a class="govuk-notification-banner__link" href="barrier-information-public?conf-banner-state=">public view tab.</a></p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- BARRIER PUBLIC PUBLISH STATUS UPDATED -->
    {% if confBannerState == 'rejected set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Barrier rejected for publication
        </h3>
            <p class="govuk-body">You successfully rejected the barrier for publication.</p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- BARRIER PUBLIC PUBLISH STATUS UPDATED -->
    {% if confBannerState == 'published set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Barrier published
        </h3>
            <p class="govuk-body">You successfully published this barrier on <a class="govuk-notification-banner__link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check an international trade barrier.</a></p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- BARRIER PUBLIC PUBLISH STATUS UPDATED -->
    {% if confBannerState == 'unpublished set'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Barrier has been unpublished
        </h3>
            <p class="govuk-body">You successfully unpublished this barrier. It no longer appears on <a class="govuk-notification-banner__link" href="https://www.check-international-trade-barriers.service.gov.uk/" target="_blank">check an international trade barrier.</a></p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}
    {% endif %}

    <!-- MVE PUBLISH ALLOWED AND TITLE / SUMMARY PROVIDED -->
    {% if confBannerState == 'mve-can-be-published-and-title-and-summary'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            This barrier has been successfully created and is with the approver
        </h3>
        <p class="govuk-body">Once it has been approved, the barrier will be sent to the GOV.UK team for final content checks. If this is done within the next 30 days, it can be published.</p>
        <p class="govuk-body">This will be updated on the barrier publication status on the <a class="govuk-notification-banner__link" href="barrier-information-public?conf-banner-state=">public view tab.</a></p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}

        {% include "/includes/csat-panel.njk" %}

    {% endif %}

    <!-- MVE PUBLISH ALLOWED AND TITLE / SUMMARY NOT PROVIDED -->
    {% if confBannerState == 'mve-can-be-published-no-title-and-summary'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            You’ve set the publication status but need to add more information
        </h3>
        <p class="govuk-body">The publication status is set to: <span class="govuk-!-font-weight-bold">it can be published once it is approved</span>.</p>
        <p class="govuk-body">You now need to add the public title and summary within the next 30 days, before this barrier can be approved.</p>
        <p class="govuk-body">For more details see the barrier publication status on the <a class="govuk-notification-banner__link" href="barrier-information-public?conf-banner-state=">public view tab.</a></p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}

        {% include "/includes/csat-panel.njk" %}

    {% endif %}

    <!-- MVE PUBLISH NOT ALLOWED -->
    {% if confBannerState == 'mve-cannot-be-published'%}
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            You've successfully created the barrier but chose not to publish it on GOV.UK
        </h3>
        <p class="govuk-body">The reason given was: </p>
        <p class="govuk-body">{{ data['barrier-not-allowed-desc'] }}</p>
        <p class="govuk-body">This decision will now be reviewed by the approver and updated on the <a class="govuk-notification-banner__link" href="barrier-information-public?conf-banner-state=">public view tab.</a></p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html,
        type: "success",
        classes: "govuk-!-margin-bottom-0 govuk-!-padding-bottom-0"
        }) }}

        {% include "/includes/csat-panel.njk" %}

    {% endif %}

    </div>
</div>